*,html,body, #root{
    padding: 0;
    margin: 0;
}

#root{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

*{
    box-sizing: border-box;
}

.maxwidth {
    display: flex;
    width: 100%;
    max-width: 960px;
    gap: 1.5rem;   
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 1.5rem;
}


/*Hero section*/
header{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

#logoitsa {
    width: 80px;
}

#hamburguesa{
    display: none;
}

.cabeza{
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.isologo, .headNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.cabezaBody{
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
    padding: 0;
    text-align: center;
}

.cotizacontacto{
    display: flex;
    gap: 3.75rem;
    padding: 1rem 0;
}

.videoBack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(208, 65%, 24%, 0.84);
    z-index: -1;
}
.textYellow{
    color: #ffc248;
}
/*Hero section*/


/*Button decorations*/
button{
    font-size: 1rem;
}
.navBut{
    background-color: transparent;
}
.yellowBut{
    color: black;
    background-color: #ffc248;
    font-weight: bolder;
    height: 4rem;
    width: 13.5rem;
}
.invisibleBut{
    background-color: transparent;
    border: 3px solid #ffc248;
    color: #ffc248;
    font-weight: bolder;
    height: 4rem;
    width: 13.5rem;
}
.navBut:hover{
    background-color: rgb(219, 219, 219, 0.205);
    transition: 0.7s;
}

.yellowBut:hover{
    background-color: #ffad09;
    transition: 0.5s;
    transform: scale(1.2);
    color: white;
}
.invisibleBut:hover{
    background-color: #ffad09;
    transition: 0.5s;
    transform: scale(1.2);
    color: white;
}
.ServiceBut{
    background-color: #ffc248;
    color: black;
    font-weight: bolder;
}
/*Button decorations*/

/*main*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

/*Services*/
.services{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
    flex-grow: 1;
}

.titulo{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.linea{
    border-radius: 1rem;
    border: 0.3rem solid #164166;
    width: 20rem;
}

.iconos{
    display: flex;
    text-align: center;
    justify-content: center;
}

.figura{
    flex: 25%;
    padding: 8px;
    color: black;
}

.azulMediocreBold{
    color: #164166;
    font-weight: bolder;
}

main:nth-child(odd){
    background-color: white;
}
main:nth-child(even){
    background-color: #F3FAFF;
}

.serviceCards{ /*Nombre de la seccion */
    flex-direction: row;
    justify-content: space-between;
}

.card{ /*Nombre de la tarjeta de servicio*/
    max-width: 400px;
    
    padding: 0;
    margin: 0;
}

.serviceImg{
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
    display: block;
    height: auto;
}

.serviceDesc{ /* div dentro de la tarjeta (el azul)*/
    max-width: 100%;
    align-items: center;
    text-align: center;
    background-color: #164166;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.subtitle18{
    font-weight: bolder;
    font-size: 1.125rem;
}

/*About Us*/
.AboutUs{ /* Articulo donde van la historia, la mision y la vision*/
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.conocenos{

}



/*Main section*/

/*Media queris*/
@media (max-width: 600px) {
    .maxwidth {
    max-width: 100%;
    padding: 0 1rem;
    gap: 1rem;
    align-self: stretch; 
  }

  header {
    padding: 2rem 1rem;
    align-items: stretch;
  }

  #logoitsa {
    width: 60px; 
  }

  .cabezaBody {
    margin: 4rem 0;
    gap: 3rem;
  }


  .cabezaBody h1 {
    font-size: 2rem;
    line-height: 1.05;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  .cotizacontacto {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .yellowBut, .invisibleBut {
    flex: 100%;
  }

  .headNav{
    display: none;
  }

  #hamburguesa{
    display: flex;
    width: 60px;
}
    .videoBack{
        display: none;
    }
}
/*Media queris*/